@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body{
    background:lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*he element should occupy the web browser viewport height.*/
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0, 0.1); /*no se ve*/
}

.container .panel_izquierdo {
    position: relative;
    background: lightseagreen;
    padding: 15px;    
}

.panel_izquierdo .perfil {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    color: white;

}

.perfil .foto {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden; /*hide the content that doesn't fit in the element's box.*/
}

.perfil .foto img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.perfil .nombre{
    padding-top: 10px;
    font-size: 1.7em;
    font-weight: bold;
}

.perfil .puesto{
    font-size: 1.1em;

}

.perfil .sobre_mi{
    font-style: italic;
    padding: 30px;
    font-size: 1.2em;
}

.perfil .descarga{
     font-size: 1.2em;
     padding-bottom: 40px;

}
.panel_izquierdo .contacto {
    position: relative;
    display: flex;
    flex-direction: column;
    /*align-items: center;
    text-align: center;*/
    border-bottom: 1px solid white;
    padding-top: 15px;
    padding-bottom: 40px;
    color: white
}

 .contacto .contacto_titulo{
    text-align: center;
    font-size: 1.7em;
    padding-top: 10px;
    padding-bottom: 20px;
}

 .contacto .contacto_lista ul {
    position: relative;
    font-size: 1.2em;
    list-style-type: none; /*quita los bullets de la lista*/
}

.contacto .contacto_lista ul li{
    position: relative;
    padding-bottom: 20px;
    cursor: pointer;
}

.contacto .contacto_lista ul li:hover{
    text-decoration: underline;
}


.icono{
    display: inline-block;
    width: 25px;
    font-size: 18px;
}

/*.panel_izquierdo .idiomas{
    position: relative;
    padding-top: 20px;
    color: white;
}
*/





/*PANEL DERECHO*/

.container .panel_derecho {
    position: relative;
    background: white;
    padding: 40px;
}

.panel_derecho .barra  {
    text-align: left;
    color: lightseagreen;
    font-size: 25px;
    cursor: pointer;
}

.panel_derecho .nav a{
    display:block;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: 600;
}

.panel_derecho .nav{
    position: absolute;
    display: none;
    padding-left: 300px;
    width: 170px;
    margin-right: 30px;
    background-color: lightseagreen;
    padding: 15px;
    border-radius: 10px;
    color: white;
    text-align: left;
    z-index: 99;
}

.panel_derecho h3{
    color: lightseagreen;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 30px;
    border-bottom: 3px solid lightseagreen;
    padding-top: 30px;
}

.panel_derecho .objetivos p{
    padding-bottom: 20px;
}

.panel_derecho .experiencia .caja{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.panel_derecho .experiencia .caja .fechas{
    min-width: 150px;
}

.panel_derecho .experiencia h5{
    font-weight: 600;
}

.panel_derecho .experiencia .caja .fechas{
    margin-top: 2px;
}

.panel_derecho .educación{
    padding-bottom: 20px;    
}

.panel_derecho .educacion .caja_educacion{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.panel_derecho .educacion .caja_educacion .fechas_educacion{
    min-width: 150px;
}
.panel_derecho .educacion h5{
    margin-top: 2px;
}
.panel_derecho .educacion h4{
    font-weight: 600;
}

.panel_derecho .educacion h4:last-child{
    text-transform: uppercase;
    font-weight: 200;
    font-size: 0.9em;
}
.panel_derecho .educacion .caja .fechas{
    min-width: 150px;

}


.idiomas .idiomas_titulo {
    text-align: center;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.idiomas .idiomas_lista ul li{
    list-style-type: none;
    padding-bottom: 20px;
    font-size: 1.2em;

}

.idiomas .nombre{
    font-weight: 400;  
}

.idiomas .idiomas_lista .porcentaje{
    position: relative;
    background: lwhite;
    width: 100%;
    height: 6px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.idiomas .idiomas_lista .porcentaje div{
    position: absolute;/*posicion absoluta respecto de su contenedor*/
    top:0;
    left:0;
    height: 100%;
    background: lightseagreen;
    border-radius: 2px;
}
.panel_derecho .skill  {
margin: 10px;
}

.panel_derecho .skills ul li{
    display: inline;
    grid-template-columns: repeat(4, 1fr);


}

.panel_derecho .skills ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

details{
    
}

summary {
    cursor: pointer;
    color: lightseagreen;
    display: block;
}

@media (max-width: 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 600px){
    .panel_derecho .experiencia .caja{
        flex-direction: column;
    }

    .panel_derecho .educacion .caja_educacion{
        flex-direction: column;
    }

    .panel_derecho .skills ul{
        grid-template-columns: repeat(2, 1fr);
    
    }
}